<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <!-- <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a> -->
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <!-- navbar toggle button and js listener -->
    <label id="sidebar-button" for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script>
      (function (document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function (e) {
          var target = e.target;
          if (sidebar.contains(target)) return;
          if ((target === checkbox || target === toggle)) checkbox.checked = !checkbox.checked;
        }, false);
      })(document);
    </script>
    
    <!-- <script data-align="left" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#FF9800"
      data-apps="JTdCJTIydGVsZWdyYW0lMjI6JTIyZnBnYWd1aWRlJTIyLCUyMmVtYWlsJTIyOiUyMmhlbGxvQGZwZ2EuZ3VpZGUlMjIlN0Q="></script> -->
  </body>
</html>
